.quarto/
# 기존 내용
.env
.egg-info/
.gitleaks.toml
.gitignore
# 데이터 디렉토리
data/
# temp
tmp/
logs_fp32/
logs_fp8/
logs_fp4/
saved_models/
build/
dist/

# PyTorch 캐시 및 모델 파일
*.pth
*.pt
.pytorch_cache/
__pycache__/
*.pyc

#각종 데이터 파일들
*.out
*.csv
*.txt
*.sh
*.gz
*.zip

# 특정파일
dldna/chapter_09/phi3/examples/train_books_v2.py
dldna/chapter_09/phi3/examples/train_books.py
dldna/chapter_09/phi3/examples/train_complex_math2.py
assets/images/autopilot
assets/images/transformer

/.quarto/
